* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  height: 3rem;
  background-color: rgb(187, 241, 241);
}
.header-nav__list {
  display: flex;
}
.header-nav__item {
  list-style: none;
  margin: 1rem;
}
.header-nav__list a {
  text-decoration: none;
}
